html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;


  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-size: 16px;
  line-height: 1.5;

  background: #F5F5F5;
}

#root {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

